 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css">



<nav class="sidenav navbar-expand-lg fixed-top navbar-light" style="background-color: #fefcf1;">
<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-6">
      <a class="navbar-brand pt-2" href="/"
      ><img
        id="MDB-logo"
        src="https://www.croissantswholesale.com/wp-content/themes/croissants-wholesale-v1/images/logo.svg"
        alt="MDB Logo"
        draggable="false"
        height="65"
    /></a>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mx-auto">
          <li class="nav-item">
            <a class="nav-link mx-3" href="/">Home</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sales
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/orders">Orders</a></li>
              <li><a class="dropdown-item" href="/invoices">Invoices</a></li>
              <li><a class="dropdown-item" href="/products">Products</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="/customers">Customers</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employees
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/employees">Employee Information</a></li>
              <li><a class="dropdown-item" href="/roles">Roles</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="/vendors">Vendors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Maintenance
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vehicles">Vehicles</a></li>
              <li><a class="dropdown-item" href="/garage">Auto Shops</a></li>
              <li><a class="dropdown-item" href="/maintenance">Maintenance</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="#!">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</nav>


