<head>
    <%- include('../partials/head'); %>
</head>


<style>
    .top-buffer { margin-top: 60px;}
</style>

<body class="container">
    <header>
        <%- include('../partials/header'); %> 
    </header>
    
    <main class="container pt-5"> 
        <div class="p-5 mb-4 bg-white rounded-3 top-buffer">
            <h2 class="text-center">
              Employee Information
            </h2>
            <a href="/employees" class="link-primary pb-4">Go Back</a>
            <h5 class= "pb-1 pt-2">General Information</h5>
            <div class="container pt-2">
              <div class="row">
                <div class="col-sm">
                  Employee ID
                </div>
                <div class="col-sm">
                  Employee Name
                </div>
                <div class="col-sm">
                  Employee Status
                </div>
              </div>
            </div>
            <div class="container pt-5">
              <div class="row">
                <div class="col-sm">
                  Role
                </div>
                <div class="col-sm">
                  Start Date
                </div>
                <div class="col-sm">
                  End Date
                </div>
              </div>
            </div>
            
            <hr class="hr hr-blurry" />
            <h5>Contact Information</h5>
            <div class="container pt-2">
              <div class="row">
                <div class="col-sm">
                  Phone Number
                </div>
                <div class="col-sm">
                  Email
                </div>
                <div class="col-sm pb-5">
                  Address
                </div>
              </div>
            </div>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Edit
            </button>
            <button type="button" class="btn btn-danger">Delete</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Edit Employee Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row g-3">
                      
                      <div class="col-md-6">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Ex. John">
                      </div>
                      <div class="col-md-6">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Ex. Doe">
                      </div>
                      <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="firstname" placeholder="exmail@example.com">
                      </div>
                      <div class="col-md-6">
                        <label for="lastname" class="form-label">Phone</label>
                        <input type="phone" class="form-control" id="lastname" placeholder="000-000-0000">
                      </div>
                      <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                      </div>
      
                      <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="col-md-4">
                        <label for="inputState" class="form-label">State</label>
                        
                      </div>
                      <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                      <div class="col-md-6">
                        <label for="inputRole" class="form-label">Role</label>                  
                          
                      </div>
                      <div class="col-md-6">
                        <label for="inputstatus" class="form-label">Status</label>
                        <select id="inputstatus" class="form-select">
                          <option selected>Active</option>
                          <option>Terminated</option>
                        </select>
                      </div>
                      
                      
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Create New Employee</button>
                    </form>

        </div>
        
        </main>
</body>
