<head>
    <%- include('../partials/head'); %>
</head>


<style>
    .top-buffer { margin-top: 60px;}
</style>

<body class="container">
    <header>
        <%- include('../partials/header'); %> 
    </header>
    
    <main class="container pt-5"> 
        <div class="p-5 mb-4 bg-white rounded-3 top-buffer">
            <h2 class="text-center">
              Employee Information
            </h2>
            <h5 class= "pb-1">General Information</h5>
            <div class="container pt-2">
              <div class="row">
                <div class="col-sm">
                  Employee ID
                </div>
                <div class="col-sm">
                  Employee Name
                </div>
                <div class="col-sm">
                  Employee Status
                </div>
              </div>
            </div>
            <div class="container pt-5">
              <div class="row">
                <div class="col-sm">
                  Role
                </div>
                <div class="col-sm">
                  Start Date
                </div>
                <div class="col-sm">
                  End Date
                </div>
              </div>
            </div>
            
            <hr class="hr hr-blurry" />
            <h5>Contact Information</h5>
            <div class="container pt-2">
              <div class="row">
                <div class="col-sm">
                  Phone Number
                </div>
                <div class="col-sm">
                  Email
                </div>
                <div class="col-sm">
                  Address
                </div>
              </div>
            </div>
        </div>
        
        </main>
</body>
